<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB806iJbABuK-MHp6H_w8Ued-TQnBu4hBY</string>
	<key>GCM_SENDER_ID</key>
	<string>235411080738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bigSteppaPhilippOleg</string>
	<key>PROJECT_ID</key>
	<string>stepperauth</string>
	<key>STORAGE_BUCKET</key>
	<string>stepperauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235411080738:ios:e7980c11279de653642c7b</string>
</dict>
</plist>